@font-face{
	font-family: 'AlexBrush-Regular';
	src: url('../webfonts/AlexBrush-Regular.ttf');
}
@font-face{
	font-family: 'KaushanScript-Regular';
	src: url('../webfonts/KaushanScript-Regular.otf');
}
@font-face{
	font-family: 'PAPYRUS Uncial';
	src: url('../webfonts/PAPYRUS-Uncial.ttf');
}
@font-face{
	font-family: 'BIBLICAL Uncial';
	src: url('../webfonts/BIBLICAL-Uncial.ttf');
}



