body {
    margin: 0;
    background-color: #4e5f7a;
}


@supports not (display: grid) {

    table,
    th,
    td {
        border: 1px solid white;
    }

    td {
        text-align: center;
        width: 50px;
        color: #FFF;
    }

    #table1 {
        background-color: #444;
    }

    #textSpace {

        font-size: 32px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: powderblue;
        color: black;
        height: 300px auto;
        vertical-align: top;
        width: 500px;
    }

    #audioCtrlsCell {
        width: 500px;
    }

    #table1 {
        background-color: #444;
    }

    #row1_Cell1,
    #row7_Cell1 {
        text-align: right;
        padding-right: 15px;
        padding-top: 10px;
    }

    #row1_Cell1,
    #row2_Cell1,
    #row3_Cell1,
    #row4_Cell1,
    #row5_Cell1,
    #row6_Cell2 {
        padding: 9px;
    }

    #audioCtrlsCell {
        vertical-align: top;
    }

}

@supports (display: grid) {
    /* attributes applying overall */
    .wrapper {
        display: grid;
        gap: 2px;

        max-width: 1200px;
        /* grid-template-columns: 100px 100px 600px 30px auto;*/
        grid-template-columns: 1.2fr 1.2fr 7.6fr 0.3fr auto;
        background-color: #4e5f7a;
        color: #fff;
        resize: both;
        overflow: auto;
        margin: 0 auto;
        max-height: 600px;
    }

    /* the general "box" attributes */
    .box {
        /*background-color: #444;
            color: #fff;*/
        border-radius: 3px;
        padding: 10px;
        font-size: 100%;
    }

    /* right hand border of container */
    .ai {
        grid-column: 4;
        grid-row: 1/8;
        text-align: center;
        width: 15px;        
    }

    /* top border of container (textstuff and textstuff2 live here) */
    .aii {
        grid-column: 1 / 4;
        grid-row: 1;
        height: 25px;
        text-align: right;
        font-size: 20px;
        font-weight: bold;
    }

    /* "Reader / Book" */
    .a {
        grid-column: 1 / 3;
        grid-row: 2;
        text-align: center;
        height: auto;
        width: auto; 
    }

    /* this is the textSpace */
    .b {
        grid-column: 3;
        grid-row: 2 / 8;
        font-size: 32px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        background-color: powderblue;
        color: black;
        max-height: 350px auto;        
        overflow: auto;
        height: auto;
        width: auto; 
    }

    /* "Chapter" */
    .c {
        grid-column: 1/3;
        grid-row: 3;
        text-align: center;
        height: auto;
        width: auto; 
    }

    /* "Play Mode" */
    .d {
        grid-column: 1/3;
        grid-row: 4;
        text-align: center;
        height: auto;
        width: auto; 
    }

    /* "Start" */
    .e {
        grid-column: 1;
        grid-row: 5;
        text-align: center;
        height: auto;
        width: auto; 
    }

    /* "End" */
    .f {
        grid-column: 2;
        grid-row: 5;
        text-align: center;
        height: auto;
        width: auto; 
    }

    /* "Display Text?" */
    .g {
        grid-column: 1;
        grid-row: 6;
        text-align: center;
        height: auto;
        width: auto; 
    }

    /* "Font" */
    .h {
        grid-column: 2;
        grid-row: 6;
        text-align: center;
        padding-bottom: 10px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 3px;
        vertical-align: middle;
        height: auto;
        width: auto; 
    }

    /* "Screen Colours" & logo */
    .i {
        grid-column: 1/3;
        grid-row: 7;
        text-align: center;
        align-items: center;
        align-self: center;
        font-size: 15px;
        height: auto;
        width: auto; 
    }

    .logoDiv {
        align-self: start;
    }

    /* "Controls" */
    .j {

        grid-column: 3;
        grid-row: 7;
        background-repeat: white;
        text-align: center;
        padding: 0px;
        padding-top: 1px;
        padding-right: 10px;

    }


@media only screen 
         and (max-width: 600px) {
            /* For mobile phones: */
                .wrapper {
                    width:90%;
            }
    } 

@media only screen 
         and (max-width: 1024px) {
                .wrapper {
                    width:90%;
            }
    } 
}

/*Here - below -s the stuff imported from the old style file (main.css)*/


#textSpace {
    text-align: center;
}

#fontDown {
    background-color: white;
    width: 30px;
    text-align: center;
    margin-top: 2px;
    margin-left: 2px;
    margin-top: 10px;

}

#fontUp {
    background-color: white;
    width: 30px;
    margin-top: 10px;
}

#fontFamilies {
    margin-top: 5px;
    width: 90px;
}

#myLogo {
    font-size: 12px;
    font-family: 'Serif';
    font-style: italic;
    align-self: start;
}

#currentFontSize {
    font-size: 17px;
}

#repeatBtn {
    margin-left: 7px;
    margin-right: 7px;
}

#testStuff2,
#testStuff3 {
    margin-left: 15px;
    font-size: 15;
}

#nextVerse {
    margin-left: 10px;
}

#previousVerse {
    margin-right: 10px;
}

#fontLabel {
    font-size: 15px;
}

#nextVerseImage,
#previousVerseImage,
#playImage,
#repeatPassageImage,
#lastVerseImage,
#curTimeLabel {
    width: 20px;
    height: 20px;
}

#repeatPassage,
#previousVerse,
#nextVerse,
#lastVerse,
#playPauseBtn {
    margin: 3px;
    margin-top: 25px;
}

#curTimeLabel {
    margin-left: 10px;
}

#fontUpImage,
#fontDownImage {
    width: 15px;
    height: 15px;
}

#scrColBtn {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;


}

#volCtrlSlider {
    width: 100px;
    visibility: hidden;
}

#muteBtnImage {
    width: 20px;
    height: 20px;
}

#volBtn {
    margin-right: 10px;
    margin-left: 10px;
}

#myControls:hover>#volCtrlSlider {
    visibility: visible;
}

#selectReader,
#selectChapter,
#selectPlayMode,
#startVerseList,
#endVerseList {
    margin-bottom: 5px;
    margin-top: 5px;
}